name: Node.js CICD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  compile:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18.19.1

      - name: Frontend Compilation (Syntax check)
        run: |
          if [ -d client ]; then
            cd client
            find . -name "*.js" -exec node --check {} +
          fi

      - name: Backend Compilation (Syntax check)
        run: |
          if [ -d server ]; then
            cd server
            find . -name "*.js" -exec node --check {} +
          fi

  gitleaks-scan:
    runs-on: ubuntu-latest
    needs: compile

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Gitleaks scan
        uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

trivy_fs_scan:
  runs-on: ubuntu-latest
  needs: gitleaks-scan
  steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Run Trivy vulnerability scanner
      uses: aquasecurity/trivy-action@0.28.0
      with:
        scan-type: 'fs'
        scan-ref: '.'
        format: 'table'
        ignore-unfixed: true
        vuln-type: 'os,library'
        severity: 'CRITICAL,HIGH'
